.nav {
    padding: 17px 0;
    background: #FEFEFE;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.nav__item {
    position: relative;
}

.logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3260A1;
}
