

.wrapper {
    background: #EEF5FF;
    min-height: 100vh;

}

.posts__wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.container {
    min-height: 100vh;
    height: 100vh;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
